
/*  RESET DE ESTILOS */
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

@import "./partials/variables";
@import "./partials/mixin";
@import "./partials/menucollapse";
@import "./partials/header";
@import "./partials/footer";
@import "./partials/mainIndex";
@import "./partials/mainContacto.scss";
@import "./partials/mainServicios";
@import "./partials/mainNosotros";
@import "./partials/mainOpiniones";
@import "./partials/breakpoints";