$paleta: (
    primary: #000000,
    secondary:#9e9a9a
);

@each $name, $colour in $paleta {
    .colour__#{$name}{
        background-color: $colour;
    }
}

$imgDisenios: (
    enlace--ancho: 100px, 
    enlace--alto: 100px
);



