.menu__responsive {
    display: none;
}
.collapsemenu {
    a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-bottom: 2px solid #b34e2a;
    max-width: 200px;
    background: #F46B3A;
    font-variant: small-caps;
    text-shadow: 1px 1px black;
    font-family: $collapse__font;
  
    &:hover {
        color: black;
    }
    }
  
    input[type="checkbox"], .fa-bars, .fa-times {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 48px;
    height: 48px;
    }
  
    .fa-bars, .fa-times {
    font-size: 48px;
    pointer-events: none;
    }
  
    input[type="checkbox"] {
    opacity: 0;
    }
  
    color: white;
    position: relative;
    background: #F46B3A;
    min-height: 48px;
  
    nav {
    display: none;
    }
  
    input {
    &:checked ~ {
        nav {
        display: block;
        }
  
        .fa-bars {
        display: none;
        }
      }
  
        &:not(:checked) ~ .fa-times {
        display: none;
        }
    }
  
    li {
    list-style: none;
    }
}