// tipografía de enlaces
$link__font: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$link__color:#000000;
$link__hover: orange;
$principal__font: 'Courier New', Courier, monospace;
$collapse__font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;